<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>공통 스크립트</title>
</head>
<body>
<script src="/js/plugins/jquery/jquery.min.js"></script>
<script src="/js/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/js/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/adminlte.min.js"></script>
<script src="/js/todolist.js"></script>
<script src="/js/docs.js"></script>

<!-- 채팅용 스크립트 -->
<script src="/webjars/sockjs-client/1.0.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
<script src="/js/app.js"></script>
<script>
  $(document).ready(() => {
    const socket = new SockJS('/chat');
    stompClient = Stomp.over(socket);
    stompClient.connect({}, function (frame) {
      console.log('Chat connected: ' + frame);
      stompClient.subscribe('/topic/chat', function (webSocketMessage) {
        respondMessage(JSON.parse(webSocketMessage.body).content);
      });
    });
  });
</script>
</body>
</html>
